{
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:node/recommended-module",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "plugins": ["prettier"]
}
