.album {
  width: 100%;
}
.album img {
  width: 100%;
  height: auto;
}
.album figure {
  display: block;
  margin: 0 5px 5px 0;
  width: 150px;
}
.album figcaption {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 15px;
  align-items: center;
}
.grid img {
  /* border: 1px solid #ccc; */
  /* box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); */
  max-width: 100%;
}
