/* normalize */

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* layout */

main {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 1rem;
}

/* album */

.album {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  align-items: center;
  width: 100%;
  padding: 0.3rem;
  margin: 0.3rem;
}

.album img {
  max-width: 100%;
  height: auto;
  /* height: 140px;
  width: 140px;
  object-fit: cover; */
}

.album figure {
  display: block;
}

.album figcaption {
  display: none;
}
